p,
li {
    color: rgb(0, 136, 255);
}

.special {
    color: coral;
}

p span {
    color: rgb(17, 170, 173);
}

a:hover {
    text-decoration: none;
}

a:link {
    color: pink;
}

a:visited {
    color: forestgreen;
}

body h1 + p .special {
    color: rgb(255, 255, 0);
    background-color: black;
    padding: 5px;
  }

  .outer {
    border: 5px solid black;
  }
  
  .box {
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
  }
