

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  background-color: rgb(255, 248, 240);
}

.container {
  border-radius: 2rem;
  margin: 2rem;
  padding: 5rem;
  background-color: cadetblue;
}

h1 {
  background-color: rgb(255, 248, 240);
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

input {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(255, 248, 240);
  border-radius: 0.5rem;
}

button {
  margin: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  background-color: rgb(255, 248, 240);
  border-radius: 0.5rem;
  border-color: rgb(255, 248, 240);
  border-width: 1rem;
}

label {
  margin: 1rem;
}

.insert-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 0.2rem dotted;
  border-color: rgb(62, 61, 61);
}

input+button {
  color: antiquewhite;
  background-color: rgb(48, 104, 68)
}

li button {
  color: antiquewhite;
  background-color: tomato;
}